.Form {
  border: none !important;
    border-bottom: 2px #00d1ff solid !important;
  }
  
  .Button {
    border: none;
    background-color: #28a745;
    color: #fff;
    border-radius: 100px;
    padding: 4px 10px;
    min-width: 75px;
    margin: 5px;
  }

  .ButtonRed {
    background-color:  rgb(243, 83, 83);
  
  }
  .Button:hover {
    cursor: pointer;
    background-color: rgb(54, 142, 40);;
    color: #000001;
  }