.DropdownItem {
  display: inline-block;
  max-width: 50%;
  padding: 0px;
}

.Absolute {
  position: absolute;
  right: 0;
  z-index: 99;
}
  
.Show {
  display: flex !important;
}

.IconColor{
  color: rgb(12, 210, 42) !important;
  size: 20px
}

.IconColorRed{
  color:red !important
}