.DropdownItem {
  display: inline-block;
  max-width: 50%;
  padding: 0px;
}

.Absolute {
  position: absolute;
  right: 0;
  z-index: 99;
}
  
.Show {
  display: flex !important;
}
.IconBar{
  color: rgb(9, 134, 2) !important;
}
.IconBar:hover{
  color: rgb(27, 139, 238) !important;
}
  

.IconColor{
  color: rgb(12, 210, 42) !important;
}

.IconColorRed{
  color:red !important;
}

.IconIdCard{

 color: rgb(27, 139, 238) !important;
}

.IconKey{
  color:rgba(222, 156, 34, 0.842) !important;
}