.Review {
    background-color: #ffffff;
    border: 1px solid #dadadf;
    border-radius: 2px;
    margin-bottom: 16px;
    text-align: center;
  }
  
  .Review figure,
  h5 {
    margin: 0 0;
  }
  .Span{
    color: #7b7b84;
    font-style: italic;
  }
  .Heart {
    color: #f85032;
  }
  
  .Heart:hover {
    color: #2142b2;
  }
  
  .HeartOutline:hover {
    color: #f85032;
  }
  
  .ImgSize {
    width: 40% !important;
    
  }

  .Title{
    font-weight: bolder;
  }

  .SaveTag {
    color: #6fe327;
  }

  .SaveTagOutline:hover {
    color: #268b12;
  }
  
  .SaveTag:hover {
    color: #f85032;
  }