.Review {
    background-color: #ffffff;
    border: 1px solid #dadadf;
    border-radius: 2px;
    margin-bottom: 16px;
    text-align: center;
  }
  
  .Review figure,
  h5 {
    margin: 0 0;
  }
  .Span{
    color: #7b7b84;
    font-style: italic;
    font-weight: 600;
  }
  .Heart {
    color: #f85032;
  }
  
  .Heart:hover{
    color: #5a1c11;
  
  }
 
  
  .ImgSize {
    width: 30% !important;
    

  transition: transform 0.5s, filter 1.5s ease-in-out;
}

.ImgSize:hover {
  transform: scale(1.1);
}


  .Title{
    font-weight: bolder;
  }

  .SaveTag {
    color: #459a10;
  }

  
  .SaveTag:hover {
    color: rgb(40, 8, 165);
  }