.Review {
  border: 1px solid #dadadf;
  border-radius: 2px;
  margin-bottom: 16px;
  text-align: center;
  border-radius: 20px;
}

.Review:hover {
  border: 2px solid #4ba5be;
}

.Review figure,
h5 {
  margin: 0 0;
}
.Line{
  border-top: 4px solid #007bff26;
  margin-top: 0;
}
.Span {
  color: #000000;
  font-style: italic;
  font-weight: 600;
}

.Heart {
  color: #eb3617;
}

.Heart:hover {
  color: #5a1c11;

}
.HeartOutline:hover{
  color: #eb3617;
}

.ImgSize {
  width: 35% !important;


  transition: transform 0.5s, filter 1.5s ease-in-out;
}

.ImgSize:hover {
  transform: scale(1.1);
}


.Title {
  font-weight: bolder;
}

.SaveTag {
  color: #459a10;
}


.SaveTagOutline:hover {
  color: rgb(11, 165, 8);
}
